<div class="col-sm-5">
    <accordion [isAnimated]="true" [closeOthers]="true">
        <accordion-group *ngFor="let tracker of getOrderedCounters()" [isOpen]="getOrderedCounters().indexOf(tracker) == openCounterIndex" (click)="updateOpenCounter(getOrderedCounters().indexOf(tracker))">
            <button class="btn btn-block clearfix" accordion-heading type="button">
                <div class="pull-left float-left circle">{{getCounterEnteredQuantity(tracker)}}/{{getCounterTargetQuantity(tracker)}}</div>
                <span class="float-left pull-left">{{getCounterName(tracker)}}</span>
            </button>
            <div *ngFor="let log of tracker.user.logs" class="entry">
                <div class="col-sm-2" style="padding-left: 0; padding-right: 8px;">
                    <app-material-input [Name]="'Quantity'" [Numeric]="true" [Value]="log.quantity" [Required]="true" (focusout)="updateLogEntryQuantity(tracker, log, $event.target.value)"></app-material-input>
                </div>
                <div class="col-sm-6" style="padding-left: 0; padding-right: 8px;">
                    <app-material-input [Name]="'Notes'" [Value]="log.notes" [Multiline]="true" (focusout)="updateLogEntryNotes(tracker, log, $event.target.value)"></app-material-input>
                </div>
                <div class="col-sm-4" style="padding-left: 0; padding-right: 0;">
                    <app-material-input [Name]="'Time'" [Time]="true" [Value]="formatDate(log.user_time, 'HH:mm')" (focusout)="updateLogEntryTime(tracker, log, $event.target.value)"></app-material-input>
                </div>
                <i class="fa fa-trash" title="Remove this log entry" (click)="deleteLogEntry(tracker, log)" title="Remove log entry."></i>
            </div>
            <div class="entry">
                <app-material-input [Name]="'Quantity'" [Numeric]="true" [Required]="true" (focusout)="createLogEntry(tracker, $event.target.value, $event.target)"></app-material-input>
            </div>
        </accordion-group>
    </accordion>
</div>
<div class="col-sm-7">
    <div class="text-field" *ngFor="let tracker of getOrderedTextFields()">
        <label>{{tracker.name}}</label>
        <textarea autosize minRows="1" placeholder="no text entered yet..." (focusout)="updateTextField(tracker, $event.target.value)">{{getTextFieldText(tracker)}}</textarea>
    </div>
</div>