<div class="col-sm-5">
    <accordion [isAnimated]="true" [closeOthers]="true">
        <accordion-group *ngFor="let tracker of getOrderedCounters()" [isOpen]="getOrderedCounters().indexOf(tracker) == openCounterIndex" (click)="updateOpenCounter(getOrderedCounters().indexOf(tracker))">
            <button class="btn btn-block clearfix" accordion-heading type="button">
                <div class="pull-left float-left circle">{{getCounterEnteredQuantity(tracker)}}/{{getCounterTargetQuantity(tracker)}}</div>
                <span class="float-left pull-left">{{getCounterName(tracker)}}</span>
            </button>
            <div *ngFor="let log of tracker.user.logs" class="entry">
                <div class="col-sm-2" style="padding-left: 0; padding-right: 8px;">
                    <app-material-input [Name]="'Quantity'" [Numeric]="true" [Value]="log.quantity" [Required]="true" (focusout)="updateLogEntryQuantity(tracker, log, $event.target.value)"></app-material-input>
                </div>
                <div class="col-sm-6" style="padding-left: 0; padding-right: 8px;">
                    <app-material-input [Name]="'Notes'" [Value]="log.notes" [Multiline]="true" (focusout)="updateLogEntryNotes(tracker, log, $event.target.value)"></app-material-input>
                </div>
                <div class="col-sm-4" style="padding-left: 0; padding-right: 0;">
                    <app-material-input [Name]="'Time'" [Time]="true" [Value]="formatDate(log.user_time, 'HH:mm')" (focusout)="updateLogEntryTime(tracker, log, $event.target.value)"></app-material-input>
                </div>
                <i class="fa fa-trash" title="Remove this log entry" (click)="deleteLogEntry(tracker, log)" title="Remove log entry."></i>
            </div>
            <div class="entry">
                <app-material-input #quantity [Name]="'Enter Quantity'" [Numeric]="true" [Required]="true" (focusout)="createLogEntry(tracker, $event.target.value, $event.target)"></app-material-input>
            </div>
        </accordion-group>
    </accordion>
</div>
<div class="col-sm-7">
    <div class="text-field" *ngFor="let tracker of getOrderedTextFields()">
        <label>
            {{tracker.name}}
            <div class="btn-group" dropdown placement="left" placement="bottom right" *ngIf="isCopyable(tracker.name)">
                <button dropdownToggle type="button" class="btn dropdown-toggle copy-question">
                    <i class="fas fa-share-square"></i>
                </button>
                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
                <li role="menuitem">
                    <a class="dropdown-item" href="#" (click)="openCopyModal(template, tracker)">Copy Yesterday</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="#">Copy From Date</a>
                </li>
                <li role="menuitem">
                    <a class="dropdown-item" href="#">Copy To Date</a>
                </li>
                </ul >
            </div>
        </label>
        <textarea autosize minRows="1" placeholder="no text entered yet..." (focusout)="updateTextField(tracker, $event.target.value)">{{getTextFieldText(tracker)}}</textarea>
    </div>
</div>

<ng-template #template>
    <app-copy-entry [Entry]="modalTracker" [CounterTypes]="getOrderedCounters()"></app-copy-entry>
</ng-template>