<div class="card-container">
    <label role="button" style="color: #0062cc" class="card" target="_blank" rel="noopener" (click)="changeDateByDays(-1)">
        <i class="fa fa-chevron-circle-left fa-2x"></i>
    </label>

    <div class="btn-group">
        <label role="button" *ngFor="let date of visibleDates" style="justify-content: space-around;" (click)="changeSelectedDate(date)">
            <a class="card" target="_blank" rel="noopener" [ngClass]="{'btn btn-primary active': isSelected(date)}">{{formatDate(date, 'ddd Do')}}</a>
        </label>
    </div>

    <label role="button" style="color: #0062cc" class="card" target="_blank" rel="noopener" (click)="changeDateByDays(1)">
        <i class="fa fa-chevron-circle-right fa-2x"></i>
    </label>
</div>